/*root*/
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}
body{
    background: #2c2f33 url(./assets/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Navigation Bar*/
.cover{
    margin: 5px;
    margin-left: 10px;
    width: 300px;
}
.nav_top{
    margin: 5px 2%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.title{
    padding-top: 40px;
    padding-right: 20px;
    color: white;
    font-size: small;
    font-weight: 200;
}
.navi_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.texts{
    display:inline-block;
    padding-top: 5px;
    color: white;
    font-weight: 300;
    font-size: 17px;
    margin-right: 16px;
    transition: 0.4s;
}
.texts:hover{
    background-color: #385477;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
}
.btns{
    width:35px;
    margin-right: 10px;
    transition: 0.4s;
}
.btns:hover{
    width: 40px;
    box-shadow: 0px 5px 30px #ffe27f;
    border-radius: 6px;
    
}
/*Submissions Page*/
.Container2 {
    background-color: #2c2f33;
    position: absolute;
    top: 10%;
    border-radius: 10px;
}
.cn{
    color: white;

}
.cn1{
    font-weight: 600;
    color: white;
}
.atribcon {
    margin-top: 5%;
    margin-bottom: 17%;
    align-items: left;
    display: flex;
    height: 300px;
    width: 1228px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    color: white;
}
.scrollmenu {
    display: inline-block;
    top: 1;
    justify-content: center;
    align-items: center;
    height: 445px;
    width: 1228px;
    position: absolute;
    overflow: auto;
    white-space: nowrap;
    margin-top: 10px;
}

.scrollmenu::-webkit-scrollbar {
    width: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
    background-color: rgba(39, 39, 39, 0.308);
    scrollbar-color: rgba(39, 39, 39, 0.308);
    border-radius: 10px;
}

.scrollmenu::-webkit-scrollbar-thumb {
    background-color: #ffe27f;
    border-radius: 10px;
    scrollbar-color: #ffe27f;
}
#cont {
    background-color: #2c2f33;
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-radius: 10px;
    height: 150px;
    width: 1200px;
}
.gap {
    display: inline-block;
}
.titlesub{

    margin-top: 30px;
    font-weight: 500;
}
.member, .teach{
    align-items: left;
    margin-left: 5px;
}
.opener{
    background-color: #ffe27f;
    width: 200px;
    border-radius: 5px;
    border:none;
    color: #2c2f33;
    height: 145px;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-right: 2px;
    font-size: 30px;
    font-weight: 500;
}
.numbering{
    margin-left: 60px;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 500;
}
.size{
    width: 716px;
}
/*Home - Index*/
.greet{
    font-size: 80px;
    font-weight: 500;
}
.sub_greet{
    font-size: 20px;
    font-weight: 300;
}
.subngreet{
    margin-top: 5%;
    margin-left: 7%;
}
.main{
    z-index: 999%;
    display: flex;
}
.teachem{
    margin-top: 7%;
    width: 600px;
}
/*Events*/
.events{
    margin: 0 5%;
    display:flex;
}
.env_title{
    font-size: 35px;
    font-weight: 400;
}
.env_subcap{
    font-size: 20px;
    font-weight: 300;
}
.env_title-1{
    font-size: 35px;
    font-weight: 400;
}
.env_subcap-1{
    font-size: 20px;
    font-weight: 300;
}
.fenv{
    margin-top: 25px;
    margin-left: 30px;
}
.cat{
    margin-left: 50%;
    width: 200px;
}
.events_cont{
    margin: 3% 5%;
    display: flex;
    background-color: #2c2f33;
    border: none;
    border-radius: 10px;
}
.tag{
    color: #ffe27f;
    font-size: 20px;
    font-weight: 300;
}
.subom{
    margin-top: 10px;
    margin-left: 5px;
    background-color: #2c2f33;
    border: solid;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    font-weight: 500;
    transition-duration: 0.4s;
}
.subom:hover{
    background-color: rgb(255, 195, 146);
    color: #2c2f33;
    border: solid;
    border-radius: 5px;
}
/*Containers For Club Officers*/
.cnt{
    margin: 0 5%;
}
.cnt-ofc-title{
    font-size: 35px;
    font-weight: 500;
}
.ofc-photo{
    display: flex;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    width: 200px;
    padding: 10px 30px;
    background-color: #303030;
}
.cont0ofc-photo{
    display: flex;
    margin-top: 20px;
    background-color: #2c2f33;
    border-radius: 10px;
}
.ofc-names{
    margin-left: 5%;
}
.ofc-name-main{
    font-size: 35px;
    font-weight: 500;
}
.ofc-name-start{
    margin-top: 15%;
    color: #ffe27f;
    font-size: 25px;
}
.ofc-name-start1{
    margin-top: 10%;
    color: #ffe27f;
    font-size: 25px;
}
.ofc-name-start2{
    margin-top: 25%;
    color: #ffe27f;
    font-size: 25px;
}
.ofc-name-start3{
    margin-top: 13%;
    color: #ffe27f;
    font-size: 25px;
}
.ofc-name-start4{
    margin-top: 13%;
    color: #ffe27f;
    font-size: 25px;
}
/*buttons*/
.btn_linkk{
    background-color: #ffe27f;
    width: 200px;
    border-radius: 5px;
    border:none;
    color: #2c2f33;
    height: 60px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}
/*Alignment of btns*/
.a-btns{
    margin-top: 15px;
    margin-left: 17%;
}
.b-btns{
    margin-top: 15px;
    margin-left: 30.5%;
}
.c-btns{
    margin-top: 15px;
    margin-left: 24%;
}
.d-btns{
    margin-top: 15px;
    margin-left: 26%;
}
.e-btns{
    margin-top: 15px;
    margin-left: 30.1%;
}
.f-btns{
    margin-top: 15px;
    margin-left: 37.6%;
}
.g-btns{
    margin-top: 15px;
    margin-left: 15.5%;
}
.h-btns{
    margin-top: 15px;
    margin-left: 16.5%;
}
.i-btns{
    margin-top: 15px;
    margin-left: 23.6%;
}
.j-btns{
    margin-top: 15px;
    margin-left: 24%;
}
.k-btns{
    margin-top: 15px;
    margin-left: 24%;
}
/*About Page*/
.abt-title{
    margin: 0 5%;
}
.abt-main{
    margin-top: 8%;
    margin-left: 3%;
}

.abt-con-title{
    font-size: 90px;
    font-weight: 600;
}
.ofc-name-start3{
    margin-top: 30px;
    display: flex;

}
.cnt3{
    z-index: 999;
    display: flex;
    margin: 0 6%;
}
.teachem2{
    margin-left: 8%;
    width: 400px
}
.teachem3{
    margin-top: 20%;
    margin-right: 10%;
    width: 300px
}
.teachem4{
    margin-top: 60%;
    margin-left: 8%;
    width: 300px
}
.footer-main{
    z-index: 999;
    background-color: #2c2f33;
    height: 150px;
}
.container-sub{
    margin-left: 5%;
    margin-right: 5%;
} 
#cont2{
    margin-top: 1%;
    background-color: #2c2f33;
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-radius: 10px;
    height: 150px;
    width: 1200px;
}
.win{
    margin-top: 3%;
    font-size: 40px;
    font-weight: 500;
}